<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <div th:replace="~{common/_message::message}"></div>
    <h1>회원관리</h1>
    <form name="frmSearch" th:action="${@utils.redirectUrl('/member')}" target="ifrmProcess" autocomplete="off" th:object="${memberSearch}">
        <table class="table_cols mb30">
            <tr>
                <th>키워드</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt" th:field="*{sopt}">
                            <option value="ALL">통합검색</option>
                            <option value="NAME">회원명</option>
                            <option value="EMAIL">이메일</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}">
                    </div>
                </td>
                <th>목록수</th>
                <td>
                    <div class="input_grp">
                        <select name="limit" th:field="*{limit}">
                            <option value="10">10개</option>
                            <option value="20">20개</option>
                            <option value="30">30개</option>
                        </select>
                    </div>
                </td>
                <th>정렬기준</th>
                <td>
                    <div class="input_grp">
                        <select name="sort" th:field="*{sort}">
                            <option value="createdAt_DESC">가입최근순</option>
                            <option value="userName_ASC">이름순</option>
                            <option value="email_ASC">이메일</option>
                        </select>
                    </div>
                </td>

            </tr>
        </table>
        <div class="search_btn">
            <button type="submit" class="btn">검색하기</button>
        </div>

    </form>

        <table class="table_rows">
            <thead>
            <tr>
                <th>회원번호</th>
                <th>이메일</th>
                <th>회원명</th>
                <th>전화번호</th>
                <th>권한관리</th>
                <th>회원삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}" th:object="${member}">
                <td th:text="*{seq}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{userName}"></td>
                <td th:text="*{mobile}"></td>
                <td>
                <th:block th:each="a : ${allAuthorities}">
                    <input type="checkbox" class="authorities"
                           th:text="${a}"
                           th:data-member="${member.seq}"
                           th:checked="${#strings.contains(member.authorities, a)}"
                           th:value="${a}" onclick="changeAuth(this)"
                    />

                </th:block>
                </td>
                <td>
                    <!--<a th:href="${@utils.redirectUrl('/member/edit/' + member.seq)}" class="sbtn"><i class="xi-pen"></i>권한수정</a>
                    -->
                    <a th:href="${@utils.redirectUrl('/member/delete/' + member.seq)}" class="sbtn remove" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmHidden" ><i class="xi-pen"></i>회원삭제</a>
                </td>
            </tr>
            </tbody>
        </table>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>

</section>
</html>
