<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="common">
        <div>
            <h4>(주)점메추</h4>

            <span>이메일 : service@jeommechu.co.kr</span>
            <nav class="footer">
                <a href="https://app.catchtable.co.kr/ct/main/policyService">서비스 이용 약관</a>
                <span>|</span>
                <a href="https://app.catchtable.co.kr/ct/main/policyPrivacy">개인정보 처리방침</a>
                <span>|</span>
                <a href="https://app.catchtable.co.kr/ct/main/policyLocation">위치정보 이용약관</a>
            </nav>
        </div>
    </footer>
</html>